@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Montserrat&family=Stint+Ultra+Condensed&&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted black; */
  /* above code is used for debuggin the layout */
}

body {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  background: linear-gradient(to right, #ffc371, #ff5f6d);
}

.App {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

header {
  max-width: 769px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  margin: 0 auto;
}

header img,
.githubBtn img {
  max-width: 30px;
}

h1 {
  font-family: "Odibee Sans", cursive;
  color: #312f2f;
  font-size: 2rem;
  letter-spacing: 0.01em;
  text-align: center;
}

.githubBtn {
  background: transparent;
  border: None;
  cursor: pointer;
}

.addBtn {
  padding: 0.8rem;
  font-size: 1rem;
  font-family: montserrat;
  background-color: #ff5f6d;
  border: transparent;
  border-radius: 5px;
  color: white;
  margin: 2rem 0rem;
  cursor: pointer;
}

.addSnapArea {
  display: grid;
  place-items: center;
  padding: 3rem;
  font-family: montserrat;
}

.addBtn:hover {
  background-color: #ffc371;
  color: #000;
}

.hideView {
  display: none;
}

.uploadImage {
  max-width: 100%;
}

section {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(63, 63, 63, 0.6);
}

.popupDiv {
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: montserrat;
  color: rgb(247, 247, 247);
  background-color: #312f2f;
}

.popupDiv p {
  font-size: large;
  padding-bottom: 5px;
}

.dropZone {
  border: 2px dashed #f6f8fb5b;
  margin: 1rem;
  padding: 0.5rem;
}

input[type="file"] {
  display: none;
}

.chooseFile {
  padding: 0.5rem;
  background-color: #ffc371;
  border: transparent;
  border-radius: 5px;
  font-family: montserrat;
  cursor: pointer;
  color: #000;
}

.chooseFile:hover {
  background-color: #ff5f6d;
}

.closeBtn {
  float: right;
  cursor: pointer;
}

.progressBar {
  height: 10px;
  background-color: #ff5f6d;
  margin-top: 15px;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.2rem;
  padding-top: 1rem;
}

.imageGrid img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.imageWrap {
  gap: 0.5rem;
}

.uploadBtn {
  margin-top: 1rem;
  font-family: montserrat;
  border-radius: 5px;
  font-size: xx-small;
  border: transparent;
  cursor: pointer;
}

figure {
  margin-top: 1.5rem;
}

figure img {
  max-width: 100%;
  box-shadow: 0 0 100px rgb(255, 241, 47);
  border-radius: 5px;
}

.snapbookBtn {
  background-color: rgba(7, 7, 7, 0.822);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  font-size: large;
}

.addMoreBtn {
  background-color: #ffc371;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

footer {
  position: fixed;
  padding: 0.5rem;
  font-family: montserrat;
  font-size: x-small;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #05050511;
}
