@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Montserrat&family=Stint+Ultra+Condensed&&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted black; */ 
  /* above code is used for debuggin the layout */
}

body {
  background: #FF5F6D;  
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  
  background: linear-gradient(to right, #FFC371, #FF5F6D);
}

.App {
  max-width: 90vw;
  margin: 0 auto; 
  text-align: center;
}

header {
  max-width: 769px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  margin: 0 auto;
}

header img, .githubBtn img {
  max-width: 30px;
}

h1 {
  font-family: 'Odibee Sans', cursive;
  color: #312f2f;
  font-size: 2rem;
  letter-spacing: 0.01em;
  text-align: center;
}

.githubBtn {
  background: transparent;
  border: None;
  cursor: pointer;
}

.addBtn {
  padding: 0.8rem;
  font-size: 1rem;
  font-family: montserrat;
  background-color: #FF5F6D;
  border: transparent;
  border-radius: 5px;
  color: white;
  margin: 2rem 0rem;
  cursor: pointer;
}

.addSnapArea {
  display: grid;
  place-items: center;
  padding: 3rem;
  font-family: montserrat;
}

.addBtn:hover {
  background-color: #FFC371;
  color: #000;
}

.hideView {
  display: none;
}

.uploadImage {
  max-width: 100%;
}

section {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(63, 63, 63, 0.6);
}

.popupDiv {
  max-width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: montserrat;
  color: rgb(247, 247, 247);
  background-color: #312f2f;
}

.popupDiv p {
  font-size: large;
  padding-bottom: 5px;
}

.dropZone {
  border: 2px dashed #f6f8fb5b;
  margin: 1rem;
  padding: 0.5rem;
}

input[type="file"] {
  display: none;
}

.chooseFile {
  padding: 0.5rem;
  background-color: #FFC371;
  border: transparent;
  border-radius: 5px;
  font-family: montserrat;
  cursor: pointer;
  color: #000;
}

.chooseFile:hover {
  background-color: #FF5F6D;
}

.closeBtn {
  float: right;
  cursor: pointer;
}

.progressBar {
  height: 5px;
  background-color: #FF5F6D;
  padding: 10px;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.imageGrid img {
  width: 100%;
}

.uploadBtn {
  padding: 0.5rem;
  margin-top: 1rem;
  font-family: montserrat;
  border-radius: 5px;
  background-color: #FF5F6D;
  border: transparent;
  cursor: pointer;
}

figure {
  margin-top: 3rem;
  max-width: 100%;
}

figure img {
  max-width: 100%;
  box-shadow: 0 0 100px rgb(255, 241, 47);
}

footer {
  position: fixed;
  padding: 0.5rem;
  font-family: montserrat;
  font-size: x-small;
  left: 0;
  bottom: 0;
  width: 100%;
}